version: "3.9"

services:
  backend:
    build: .
    container_name: ai-learning-coach
    #restart: unless-stopped

    # 读取 .env 文件中所有配置（包括 TiDB Cloud 的连接信息）
    env_file:
      - .env

    ports:
      - "${BACKEND_PORT-9900}:${BACKEND_PORT-9900}"

    # 启动命令（默认 Flask）
    command: >
      sh -c "python app.py"

